<ion-content>
  <div class="logo">
    <ion-img src="/assets\img\WHOLEPAY_LOGO.png" alt="logo">
</ion-img>
</div>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Prénom</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Mot de Passe</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <br><br><br>
    <ion-row>
      <ion-col >
        <ion-button class="buttons-container" type="submit" color="primary" expand="block">s'enregister</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
